

.arti_main{
    
}
.blog_item {
    position: relative;
    margin: 80px 0 20px 0;
    width: 650px;
    height: 200px;
    box-shadow: 15px -10px 15px rgba(0, 0, 0, .3);
    background-color: #fff;
}

.blog_item h1 {
    position: absolute;
    font-size: 50px;
    top: 0;
    left: 0;
}

.blog_item p {
    position: absolute;
    font-size: 25px;
    top: 40%;
    left: 0%;
}